<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/home.css">
    <script src="./js/home.js" type="module" defer></script>
</head>

<body>
    <div id="navbar"></div>
    <div class="home-container">
        <div class="head">
            <h2 class="h2">00</h2>
            <h3 class="h3">Users</h3>
        </div>
        <div class="head">
            <h2 class="h2">00</h2>
            <h3 class="h3">Orders</h3>
        </div>
        <div class="head">
            <h2 class="h2">00</h2>
            <h3 class="h3">Products</h3>
        </div>
        <div class="head">
            <h2 class="h2">00</h2>
            <h3 class="h3">Categories</h3>
        </div>
    </div>

</body>

</html>