<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="container">
        <main id="form">
            <h2 class="type">ADMIN LOGIN</h2>
            <label for="">Email</label>
            <input class="input" type="text">
            <label for="">Password</label>
            <input class="input" type="password">
            <label for="">Code</label>
            <input class="input" type="password">
            <button class="btn">Login</button>
        </main>
    </div>
</body>
<script>
    const btn = document.getElementsByTagName("button")[0]
    btn.addEventListener("click", async () => {
        const user = document.getElementById("name").value
        console.log('object')
        const res = await fetch("http://localhost:5000/admin", {
            headers: {
                "content-type": "application/json"
            },
            method: "POST",
            body: JSON.stringify({ user: user })
        })
        const data = await res.json()
        console.log(data)
    })
</script>

</html>