<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/order.css">
    <script type="module" src="./js/order.js" defer></script>
    <script type="module" src="./js/test.js" defer></script>
</head>

<body>
    <div id="navbar"></div>
    <div class="space"></div>
    <div class="order-container">
        <table class="main-table" >
            <thead>
                <tr style=" height: 45px;border-bottom: 1px solid var(--border);">
                    <th class="td">S.No</th>
                    <th>OrderId</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Delete</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody id="table">

            </tbody>
        </table>
        
    </div>

</body>

</html>